@import './fonts.scss';

.Game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: calc($font-size * 2);
    height: 80vh;
    width: 100vw;
    .Menu {
        width: calc(100vw - calc($font-size * 2));
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: $font-size;
        .restart {
            height: calc($font-size * 1.5);
            width: calc($font-size * 1.5);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image:  url('../img/restart.png');
            filter: grayscale(1) invert(1);
        }
    }
    .Score {
        width: calc(100vw - calc($font-size * 2));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: calc($font-size * 1.5);
            font-weight: 300;
        }
    }
    .Puzzle {
        input {
            border: 3px solid white;
            border-radius: calc($font-size * 0.25);
            margin: 0;
            padding: 0;
            font-size: calc($font-size * 1.5);
            width: calc($font-size * 1.74);
            height: calc($font-size * 2.5);
            text-align: center;
            margin: calc($font-size * 0.125);
            caret-color: transparent;
            background-color: rgba(0,0,0,0);
            color: white;
            transition: all 0.5s ease-out;
            
        }
    }
    .Keyboard {
        display: flex;
        flex-direction: column;
        margin-bottom: calc($font-size * 8);
        .key-row {
            display: flex;
            flex-direction: row;
        }
        .key-row:nth-of-type(2) {
            margin-left: calc($font-size * 0.75);
        }
        .key-row:nth-of-type(3) {
            margin-left: calc($font-size * 2.25);
        }
        .key {
            display: flex;
            justify-content: center;
            align-items: center;    
            border: 3px solid white;
            border-radius: calc($font-size * 0.25);
            width: calc($font-size * 1.25);
            height: calc($font-size * 1.8);
            margin: calc($font-size * 0.125);
            transition: all 0.5s ease-out;
            p {
                font-size: $font-size;
                text-align: center;
                vertical-align: middle;
                
            }
        }
    }
}