@import './fonts.scss';

.Game {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: calc($font-size * 1);
    height: 100vh;
    width: 100vw;
    .Menu {
        width: calc(100vw - calc($font-size * 2.2));
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: calc($font-size * 1.1);
        .restart {
            height: calc($font-size * 1.5);
            width: calc($font-size * 1.5);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image:  url('../img/restart.png');
            filter: grayscale(1) invert(1);
        }
        .score {
            width: calc(100vw - calc($font-size * 2));
            display: flex;
            flex-direction: row;
            gap: calc($font-size * 1);
            justify-content: start;
            align-items: center;
            h2 {
                font-size: calc($font-size * 2);
                color: rgba(255,255,255,0.8);
                font-weight: 200;
            }
            h1 {
                font-size: calc($font-size * 2);
                font-weight: 400;
            }
        }
    }
    
    .Puzzle {
        
        input {
            border: calc($font-size * 0.1) solid white;
            border-radius: calc($font-size * 0.25);
            margin: 0;
            padding: 0;
            font-size: calc($font-size * 3);
            width: calc($font-size * 3.6);
            height: calc($font-size * 3.6);
            text-align: center;
            margin: calc($font-size * 0.125);
            caret-color: transparent;
            background-color: rgba(0,0,0,0);
            color: white;
            transition: all 0.5s ease-out;
            font-weight: 600;
        }
        input:focus {
            border-color: goldenrod;
        }
    }
    .Keyboard {
        display: flex;
        flex-direction: column;
        .key-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .key {
            display: flex;
            justify-content: center;
            align-items: center;    
            border: calc($font-size * 0.1) solid white;
            border-radius: calc($font-size * 0.25);
            width: calc($font-size * 1.4);
            height: calc($font-size * 2.3);
            margin: calc($font-size * 0.125);
            transition: all 0.5s ease-out;
            p {
                font-size: $font-size;
                text-align: center;
                vertical-align: middle;
                
            }
        }
        .key.enter, .key.delete {
            width: calc(calc($font-size * 2.5) - calc($font-size * 0.25));
            background-position: center;
            background-repeat: no-repeat;
        }
        .key.enter {
            background-image: url('../img/enter.svg');
            background-size: 60%;
        }
        .key.delete {
            background-image: url('../img/arrow.svg');
            background-size: 42%;
            border-color: black;
            filter: invert(1);
        }
    }
}